/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* CLMTE COMPENSATION CHECKBOX */
#clmte-compensation {
  padding: 10px 0;
  border-bottom: #23b97a 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

#clmte-compensation .logo {
  position: relative;
  top: -3px;
  left: 3px;
}

#clmte-compensation .info {
  display: flex;
  align-items: center;
}

#clmte-compensation p {
  margin: 0 0 0 10px;
}

#clmte-compensation p b {
  color: #23b97a;
  font-weight: 700;
  text-decoration: underline;
}

#clmte-compensation button {
  background-color: #23b97a;
  color: #fff;
  transition: 0.1s ease-in-out;
}

#clmte-compensation button:hover {
  background-color: #1b9763;
  transition: 0.1s ease-in-out;
}

#clmte-compensation #clmte-checkbox:focus {
  outline: none;
}

#clmte-info {
  cursor: pointer;
}

/* CLMTE COMPENSATION INFO TOOLTIP */
.tooltip {
  position: relative;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
  top: -15px;
  transform: translateY(20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: #eee;
  width: 600px;
  height: 60px;
  font-size: 13px;
  font-weight: 500;
  top: -95px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}

/* CLMTE COMPENSATION INFO PANEL */
#clmte-panel {
  padding: 0 15px;
  background-color: #eee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#clmte-panel p:first-child {
  margin-top: 15px;
  font-size: 14px;
}

#clmte-panel a {
  color: #23b97a;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

#clmte-panel a:hover {
  color: #1b9763;
  transition: 0.1s ease-in-out;
}

#clmte-panel a:focus {
  outline: none;
}
